.wrapper {
	height: 50vh;
	width: 95vw;
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
	.ulubione {
		height: 60px;
		width: 150px;
		transform: translate(-80%, 150px);
		border-radius: 20px;
		background-color: rgb(238, 166, 166);
		margin: 3%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
		font-weight: 600;
		border: none;
		font-size: 18px;
		letter-spacing: 1px;
		transition: all .3s ease;

		&:hover{
			background-color: violet;
		}
		
		.showRecipe {
			transform: translate(30%, 250px);
			min-height: 300px;
			min-width: 400px;
			background-color: rgb(225, 172, 172);
		}
		.ulubione {
			font-size: 20px;
		}
	}

	.textRecipe {
		font-weight: 700;

		text-align: center;

		min-height: 100px;

		.recipeTitle {
			display: block;
		}
		span {
			display: block;
		}
	}
	.ingredients {
		margin-top: 4%;
		min-width: 200px;
		min-height: 500px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		line-height: 30px;

		.ingredientsText {
			font-weight: 700;
		}
	}

	.wrap {
		margin-top: 3%;
	}
	.favAdd {
		width: 200px;
		margin: 40px;
		border-radius: 10px;
		border: none;
		background-color: rgb(87, 28, 110);
		height: 50px;
		color: white;
		font-weight: 700;
	}
}
.instructions {
	width: 50vw;
	min-height: 20vh;
	background-color: pink;
	padding: 40px;
	margin: 5%;
	line-height: 30px;
}
